body{
    display: flex;
    font-family:sans-serif;
    justify-content: center;
    margin: 0px;
}
.container1{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: -50px;
    height: 790px;
    width: 900px;
} 
.container1 div{
    background-color: rgba(0, 0, 0, 0.527);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 180px;
    font-size: 50px;
    font-weight: 700;
}
.container2{
    background-color:#0a1128;
    color: #fefcfb;
}
#introText{
    margin-left: 45px;
    margin-top: 80px;
    margin-bottom: 30px;
}
form{
    display: flex;
    flex-direction: column  ;
    text-transform: uppercase;
    justify-content: space-around;
    background-color: #fefcfb; 
    color: #0a1128;
    height: 300px;
    width: 800px;
    padding-bottom: 30px;
}
input{
    width: 220px;
}
#labels{
    display: flex;
    margin-left: 45px;
    margin-right: 250px;
    justify-content: space-between;
}
#formHead{
    font-size: 24px;
    text-transform:none;
    margin-left: 45px ;
    margin-top: 30px;
    margin-bottom: 0px;
}
button{
    font-size: 16px;
    padding: 10px 35px;
    border-radius: 5px;
    margin-bottom: 18px;
}
#ending{
    margin-top: 30px;
    margin-left: 45px;
}

 
