body{
    display: flex;
}
form{
    display: flex;
    text-transform: uppercase;
    flex-wrap: wrap;
}
.container1{
    background-image: url('images/sign-up-form.png');
    height: 900px;
    width: 900px;
}   